.ticola {
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Righteous', cursive;
    font-size:22px;
    font-weight: 700;
    font-style: normal;
    font-weight: lighter;

}

.devo {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size:26px;
    font-weight: 100;
    font-style: italic;
}

#fevo {
    font-family: Ubuntu'Helvetica Neue', sans-serif;
    font-size:28px;
}


p.brief-Section{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:35px;
    font-weight:bolder;
    opacity:0.6;
 
}

h3 {
    font-family:monospace;
    font-weight:bolder;
}


h4 {
    /* font-family: 'Righteous'; */
    font-family: 'Bebas Neue';
}